<%- include('partials/header.ejs') %>
<title>profile</title>
</head>
<body>
    <main class="bg-black w-screen h-screen flex">

        <%- include('partials/leftSide') %>

        <div class="right w-[80%] h-screen flex flex-col items-center">

            <div class="upperHalf pt-[25px]  pb-[50px] border-b-2 border-collapse border-gray-400/50 w-[50%] h-max">


                <div class="detailPart w-full gap-10  flex items-center ">
                    
                    <div class="dp w-28 h-28 ml-[20px] shrink-0 mt-[25px] rounded-full overflow-hidden">
     
                        <% if (user.dp) { %>
                            <img src="data:<%= contentType %>;base64,<%= base64Data %>" class="w-full h-full object-cover object-center" alt="User Image">
                        <% } else { %>
                            <img src="/img/default/default.png" class="w-full h-full object-cover object-center " alt="Default User Image">
                        <% } %>                      
                    </div>


                    <div class="mainP text-white  w-[85%] p-[8px] flex flex-col gap-[10px]">
                        

                          <div class="nameP  mt-[25px] ml-[5%] flex items-center h-max gap-[15px] ">
                              <h1 class="inline-block text-lg font-semibold"><%=user.username%></h1>
                              <a href="/user/edit">
                                  <button class=" bg-gray-500/65 rounded-lg  p-[8px] font-semibold text-sm" >Edit profile</button>
                              </a>
                              <button class=" bg-gray-500/65 rounded-lg  p-[8px] text-sm font-semibold">View archive</button>
                              <img src="../img/svg/setting.svg" class="invert hover:cursor-pointer" alt="">
      
                           </div>
        
                        
                        <div class="followers flex gap-[8px] ml-[5%] items-center h-max ">
    
                            <label for="post text-lg">0</label>
                            <p name="post" class="font-light text-lg mr-[10px]  ">Post</p>

                            
                            <label for="follower text-lg">10</label>
                            <p name="follower" class="font-light text-lg mr-[10px] ">follower</p>

                            
                            <label for="follwing text-lg">100</label>
                            <p name="follwing" class="font-light text-lg mr-[10px] ">following</p>
        
                        </div>


                        <div class="bio  ml-[5%] text-white">
                            <div class="name text-lg font-semibold"><%= user.fullName %></div>
                            <p class="text-sm tracking-wide line-clamp-3 hover:line-clamp-none "><%= user.bio %></p>
        
                        </div>


                    </div>
    
        
                </div>

                <div class="highlights w-max flex flex-col items-center gap-[5px]  mt-[15px] h-max">
                    <div class="high w-[80px] h-[80px] border-[1.2px] border-gray-500/80 rounded-full flex justify-center items-center p-0 ">
                      <img src="../img/svg/add.svg" class="opacity-35 invert hover:opacity-100" alt="">
                    </div>
                    <p class=" text-white w-max capitalize text-sm  ">new</p>
                </div>

            </div>

            
            <div class="lowerhalf overflow-y-scroll w-[50%] relative border-collapse  h-full ">

                <div class="headingg flex mb-[20px]  justify-center gap-[70px]  w-[100%]">

                    <div class="post text-gray-400/55 hover:text-white hover:font-semibold hover:cursor-pointer pt-[13px] hover:border-t-[1.5px]  border-collapse border-white">
                             <img src="../img/svg/grid.svg" class="invert w-[13px] inline-block" alt="">
                             <span class="text-sm">Post</span>
                    </div>
                    <div class="savedIm text-gray-400/55 hover:text-white hover:font-semibold  hover:cursor-pointer pt-[13px] hover:border-t-[1.5px] border-collapse border-white">
    
                        <img src="../img/svg/bookmark.svg" class="invert w-[13px] inline-block" alt="">
                             <span class="">Saved</span>
                    </div>
                    <div class="tagged text-gray-400/55 hover:text-white hover:font-semibold  pt-[13px] hover:cursor-pointer hover:border-t-[1.5px] border-collapse border-white">
                        <img src="../img/svg/tag.svg" class="invert w-[13px] inline-block" alt="">
                             <span class="">Tagged</span>
                    </div>





                </div>
    
                <div class="postArea   absolute w-full  h-max">

                    <div class="posts pb-[100px] w-full h-max  grid  grid-cols-3 ">
                        <% user.posts.reverse().forEach((post) => { %>
                            <div class="post border-2 border-black border-collapse w-[calc(33.33% - 0.6rem)] h-[300px]">
                                <img src="data:<%= post.content_type %>;base64,<%= post.base64Datas %>" class="object-cover w-full h-full object-center" alt="">
                            </div>
                            
                        <% }) %>
                        
                        

            
                    </div>



              </div>
            </div>



        </div>





    </main>

    <%- include('partials/footer') %>
